<a href="https://colab.research.google.com/github/gt-cse-6040/skills_oh_week_08/blob/main/argsort_stuff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd

In [2]:
my_arr = np.random.randint(200, size=30)

In [3]:
my_arr

array([196,  22, 195,  89, 142,  76,  94,  14,   2,  53,  86, 176,  55,
       162, 129,  56, 186, 178, 113, 121,  27, 174,  61, 166,  11,  44,
       152, 109,  52,  91])

In [4]:
sorted_inds = np.argsort(my_arr)

In [5]:
sorted_inds

array([ 8, 24,  7,  1, 20, 25, 28,  9, 12, 15, 22,  5, 10,  3, 29,  6, 27,
       18, 19, 14,  4, 26, 13, 23, 21, 11, 17, 16,  2,  0])

In [6]:
my_arr[sorted_inds]

array([  2,  11,  14,  22,  27,  44,  52,  53,  55,  56,  61,  76,  86,
        89,  91,  94, 109, 113, 121, 129, 142, 152, 162, 166, 174, 176,
       178, 186, 195, 196])

In [9]:
my_series = pd.Series(my_arr)
# my_series

In [10]:
my_sorted_series = my_series.sort_values()

In [13]:
my_arr[my_sorted_series.index]

array([  2,  11,  14,  22,  27,  44,  52,  53,  55,  56,  61,  76,  86,
        89,  91,  94, 109, 113, 121, 129, 142, 152, 162, 166, 174, 176,
       178, 186, 195, 196])